                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><em class="fa fa-fw fa-envelope-square"></em></a>{% endif %}
                        {% if site.twitter %}<a class="sociial-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><em class="fa fa-fw fa-twitter-square"></em></a>{% endif %}
                  </h3>
